# Node
node_modules/

# Environment
.env

# VS Code
.vscode/

# Thunder Client
thunder-client-*.json
thunder-client-*.environment.json

# Logs
*.log

# Backend specific
uploads/
test.txt
testEmail.js
testUpload.js
testAdminApi.js
debug_db.js
seedAdmin.js
scripts/seedAdmin.js
